<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, height=device-height">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Origin</title>
	<meta name="description" content="Origin Frontend Take-Home Assignment">
	</script>
    <style>@keyframes loader-spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@-webkit-keyframes loader-spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}.loader{z-index: 100;width:calc(100% - 34px);z-index:99999998;position:fixed;top:50%;left:17px;-webkit-transition:opacity 250ms ease;transition:opacity 250ms ease}.loader--show{opacity:1}.loader--hide{opacity:0}.loader__spin{width:40px;height:40px;border-radius:50%;border:5px solid rgba(255,255,255,.2);border-top-color:#f3123c;animation:loader-spin 1s infinite linear;display:block;margin:0 auto}  </style>
</head>
<body>
	<div id="app">
		<div class="loader loader--show">
            <div class="loader__spin">&nbsp;</div>
        </div>
	</div>
</body>
</html>
